# CẤU HÌNH KẾT NỐI EMAIL (GMAIL)
EMAIL_IMAP_HOST=imap.gmail.com
EMAIL_IMAP_PORT=993
EMAIL_USER=your_email@gmail.com
# Lưu ý: Với Gmail, đây phải là Mật khẩu ứng dụng (App Password), không phải mật khẩu tài khoản chính
EMAIL_PASS=xxxx_xxxx_xxxx_xxxx

# CẤU HÌNH KẾT NỐI APPSHEET
APPSHEET_APP_ID=e488fb86-d7f7-4dd2-970d-8246e1a05eee
APPSHEET_ACCESS_KEY=V2-WQdVR-MbOzC-ROAZT-aYCDs-NjjEo-nEp0D-VuZ4U-nVdeQ

# MÔI TRƯỜNG CHẠY BOT (development / production)
NODE_ENV=development
